{
    "system": {
        "dimension": 4,
        "length": 1400,
        "d_t": 0.02
    },
    "reservoir": {
        "dimension": 1000,
        "sparsity": 0.04,
        "subsample": 256,
        "leakage":0.9,
        "time const":0.44, 
        "network": "self.random_init_reservoir"
    },
    "params": {
        "sigma": 0.15,
        "rho": 0.8,
        "train ratio": 0.9,
        "lamda": 0.05
    }
}
