{
    "system": {
        "dimension": 3,
        "length": 6000,
        "d_t": 0.02,
        "function": "utils.integration_lorenz"
    },
    "reservoir": {
        "dimension": 1000,
        "degree": 3
    },
    "params": {
        "sigma": 0.15,
        "rho": 0.4,
        "train time": 3000,
        "lamda":0.1,
        "f":0.4
    }
}
