{
    "system": {
        "dimension": 3,
        "length": 6000,
        "d_t": 0.02,
        "function": "utils.integration_lorenz"
    },
    "reservoir": {
        "dimension": 2000,
        "degree": 3,
        "subsample": "64",
        "network": "self.random_init_reservoir"
    },
    "params": {
        "sigma": 0.15,
        "rho": 0.8,
        "train time": 3000,
        "lamda": 0.05,
        "f": 0.4,
        "bias": 0.02
    }
}
