{
    "system": {
        "dimension": 1,
        "length": 18000,
        "d_t": 0.02
    },
    "reservoir": {
        "dimension": 1000,
        "sparsity": 0.04,
        "subsample": 256,
        "network": "self.random_init_reservoir"
    },
    "params": {
        "sigma": 0.5,
        "rho": 0.79,
        "train ratio": 0.9,
        "lamda": 0.05
    }
}
