{
    "system": {
        "dimension": 1,
        "length": 6000,
        "d_t": 0.02,
        "function": "utils.discrete_mackey_glass"
    },
    "reservoir": {
        "dimension": 1000,
        "degree": 3
        "subsample": 64,
        "network": "self.random_init_reservoir"

    },
    "params": {
        "sigma": 0.5,
        "rho": 0.79,
        "train time": 3000,
        "lamda": 0.002,
        "f": 0.4,
        "bias": 1, 
    }
}
