{
    "system": {
        "dimension": 1,
        "length": 6000,
        "d_t": 0.01
    },
    "reservoir": {
        "dimension": 1000,
        "sparsity": 0.04,
        "subsample": 256,
        "leakage":0.9,
        "time const":0.44, 
        "network": "self.random_init_reservoir"
    },
    "params": {
        "sigma": 0.5,
        "rho": 0.79,
        "train ratio": 0.5,
        "lamda": 0.1
    }
}
